<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <p>&copy 2023 Security and Artificial Intelligence Lab.</p>
          <p>
            We are part of the
            <a
              href="https://vinuni.edu.vn/college-of-engineering-computer-science/"
              >College of Engineering & Computer Science</a
            >
            at <a href="https://vinuni.edu.vn/">VinUniversity</a>.
          </p>

          <p></p>
          <p></p>
        </div>

        <div class="col-sm-4">
<!--           
          Funding:

          <br />
          - VinUniversity (<a href="https://vinuni.edu.vn/">VinUni</a>)
           -->
          <!-- <br />
          - The VinUni-Illinois Smart Health Center (<a
            href="https://smarthealth.vinuni.edu.vn/"
            >VISHC</a
          >) -->

          <br />

        </div>
        <div class="col-sm-4">
          Contact:<br />
          G3 Building, VinUniversity<br />
          Da Ton, Gia Lam<br />
          100000 Hanoi<br />
          Vietnam <br />
          (<a href="https://goo.gl/maps/juPmW3HWfWeQcVFu8">Maps</a>)
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
